/**
 * Author(s): James Morris
 *
 * MAIN
 *
 */
/**
 * CONTENTS
 */
/**
 * CONTENTS.................You’re reading it!
 * GLOBAL VALUES
 *  Colours..................Colours!
 *  Typography...............Styles and sizes
 *  Grid vars................Define your grid
 *  Spacing & Line height ...Margins, paddings etc.
 */
/**
 * Author(s): James Morris
 *
 * VARIABLES
 *
 */
/**
 * CONTENTS
 */
/**
 * CONTENTS.................You’re reading it!
 * GLOBAL VALUES
 *  Colours..................Colours!
 *  Typography...............Styles and sizes
 *  Grid vars................Define your grid
 *  Spacing & Line height ...Margins, paddings etc.
 */
/**
 * $GLOBAL VALUES
 */
/* COLOURS */
/* FONT SIZE */
html, body, main {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px; }

.colour-selector {
  height: 100%; }
  .colour-selector ul.colours {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .colour-selector ul.colours:after {
      content: "";
      display: table;
      clear: both; }
    .colour-selector ul.colours li {
      float: left;
      margin: 0;
      padding: 0;
      height: 100%;
      padding-top: 1em;
      -webkit-transition: width 0.5s ease, height 0.5s ease;
      -moz-transition: width 0.5s ease, height 0.5s ease;
      transition: width 0.5s ease, height 0.5s ease; }
      .colour-selector ul.colours li a {
        display: block;
        height: 100%;
        color: transparent; }
      .colour-selector ul.colours li:hover {
        width: 1.2% !important;
        height: 102%;
        -webkit-transition: width 0.5s ease, height 0.5s ease;
        -moz-transition: width 0.5s ease, height 0.5s ease;
        transition: width 0.5s ease, height 0.5s ease; }

ul.artwork-list {
  list-style-type: none; }
  ul.artwork-list li {
    display: inline-block; }
