/**
 * Author(s): James Morris
 *
 * VARIABLES
 *
 */

/**
 * CONTENTS
 */

/**
 * CONTENTS.................You’re reading it!
 * GLOBAL VALUES
 *  Colours..................Colours!
 *  Typography...............Styles and sizes
 *  Grid vars................Define your grid
 *  Spacing & Line height ...Margins, paddings etc.
 */

/**
 * $GLOBAL VALUES
 */


/* COLOURS */ 

//Splash letters
$colorPink:        #ff66b5;
$colorOrange:      #ff7f48;
$colorSalmon:      #ffa076;
$colorSky:         #84ceed;
$colorSlate:       #808080;
$colorGreen:       #0ab2ab;

$colorOffBlack:    #444444;
$colorWhite:       #ffffff;

$colorBlackT50: rgba(0,0,0,0.5);
$colorWhiteT50: rgba(255,255,255,0.5);
$colorWhiteT20: rgba(255,255,255,0.2);

/* FONT SIZE */ 

$sizeL:           32px;
$sizeM:           16px;
$sizeS:           14px;
