{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Colour Lens{% endblock title %}


{% block body_id %}colour-browse{% endblock %}
{% block body_class %}full-page-colour{% endblock  %}


{% block content %}
  <div id="fullpage">
    <div class="section">
      <div id="colour-page">
        {% for c in colours %}{% spaceless %}
          <div style="width: {{ colour_width|floatformat:2 }}%; background-color: {{ c.hex_value }};">
            <a href="{{ request.path }}{% if c.query_string %}?{{ c.query_string }}{% endif %}">
              {{ c.artwork_count }}
            </a>
          </div>
        {% endspaceless %}{% endfor %}
      </div>
    </div>
    <div class="section active">
      <div id="colour-list">
        {% for c in colours %}{% spaceless %}
          <div style="width: {{ colour_width|floatformat:2 }}%; background-color: {{ c.hex_value }};">
            <a href="{{ request.path }}{% if c.query_string %}?{{ c.query_string }}{% endif %}">
              {{ c.artwork_count }}
            </a>
            {% if c.hex_value in req_colours %}
              <span class="selected" style="background-color:{{ c.hex_value }};"></span>
            {% endif %}  
          </div>
        {% endspaceless %}{% endfor %}
      </div>
      <div id="header">
        <h1 id="colour_me_bad">Colour Lens</h1>
        <p>An experiment in visualisation as navigation</p>
        <em>{{ found }} results</em><h2>{{ colour_count }} colours in this set</h2>
        <p id="institution-nav">
          <a class="{% if not institution %}selected{% endif %}" href="{% url 'colour_index' %}">ALL</a>
          {% for i in institutions %}
            <a class="{% ifequal institution i.institution %}selected{% endifequal %}" href="{% url 'colour_index' %}{{ i.institution|urlencode }}">{{ i.institution|upper }}</a>
          {% endfor %}
        </p>
      </div>
      {% include "includes/artworks.html" with artworks=artworks|slice:":24" %}
    </div>
    <div class="section">
      {% include "includes/artworks.html" with artworks=artworks|slice:"16:48" %}
    </div>    
  </div>
{% endblock %}


{% block extrahead %}
  <link rel="stylesheet" href="{% static 'jquery.fullPage.css' %}" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700" rel="stylesheet" type="text/css">
  <link href="{% static 'colourlens/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block extrascript %}
  <script src="{% static 'vendors/jquery.easings.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery.fullPage.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'colourlens/main.js' %}"></script>
  <script type="text/javascript">
    window.totalPalette = {{ total_palette }};
  </script>
{% endblock %}
