{% extends "base.html" %}
{% load staticfiles compress %}

{% block title %}Colour Lens{% endblock title %}


{% block content %}
    <ul class="colours">
        {% for colour in colours %}
            <li style="width: {{ colour_width|floatformat:2 }}%; background-color: {{ colour.hex_value }};">
                <a href="#" data-hex-value="{{ colour.hex_value }}">{{ colour }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="artwork-list">
    </ul>

    <div class="artwork-info">
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
            var selectedColours = [];

            $('ul.colours a').click(function(e) {
                var $link = $(this);

                // Toggle selected
                $link.toggleClass('selected');

                // Reload artwork list
                var selectedColours = $('ul.colours a.selected').map(function(i, colourLink) {
                    return $(colourLink).data('hexValue').replace('#', '');
                }).toArray();
                var URL = '{% url "artwork_list" %}?colour=' + selectedColours.join('&colour=');

                $('ul.artwork-list').load(URL, function() {
                    // Add onclick event handler to artworks
                    $('ul.artwork-list a').click(function(e) {
                        var $link = $(this);

                        // Load artwork info
                        var infoURL = $link.data('infoUrl');
                        $('div.artwork-info').load(infoURL);

                        e.preventDefault();
                        return false;
                    });
                });

                e.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}
