{% extends "base.html" %}
{% load staticfiles compress %}

{% block title %}Colour Lens{% endblock title %}


{% block content %}
    <section class="colour-selector">
        <div class="tabs-container">
            <ul class="tabs">
                <li><a href="#colour-search">Colour search</a></li>
                <li><a href="#colour-data">Colour data</a></li>
            </ul>
        </div>
        <div id="colour-search">
            <ul class="colours">
                {% for colour in colours %}
                    <li style="width: {{ colour_width|floatformat:2 }}%; background-color: {{ colour.hex_value }}; color: {{ colour.hex_value }}">
                        <a href="#" data-hex-value="{{ colour.hex_value }}">{{ colour }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="mag-glass">
                <h2><span>C</span><span>o</span><span>l</span><span>o</span><span>u</span><span>r</span> <span class="search">Search</span></h2>
            </div>
        </div>
        <div id="colour-data">
            <ul class="colours">
                {% for colour in colours %}
                    <li style="width: {{ colour_width|floatformat:2 }}%; background-color: {{ colour.hex_value }};">
                        <a href="#" data-hex-value="{{ colour.hex_value }}">{{ colour }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="artwork-container">

    </section>
    <section class="info-panel"> 

    </section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
              //Opens selectors colour and returned artwork
              $(document).on('click','ul.colours li a' ,function(e) {
                  var $link = $(this);
                  // Toggle selected
                  $link.parent().addClass('selected');

                  // Reload artwork list
                  var selectedColours = $('ul.colours li.selected a').map(function(i, colourLink) {
                      return $(colourLink).data('hexValue').replace('#', '');
                  }).toArray();
                  var URL = '{% url "artwork_list" %}?colour=' + selectedColours.join('&colour=');

                  $('.artwork-container').load(URL, function() {

                      // Add onclick event handler to artworks
                      $('ul.artwork-list a').click(function(e) {
                          var $link = $(this);

                          // Load artwork info
                          var infoURL = $link.data('infoUrl');
                          $('.info-panel').load(infoURL);

                          e.preventDefault();
                      });
                  });

                  

                  e.preventDefault();
              });
        });
    </script>
{% endblock %}
