ul.colours {
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 100px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;

            &.selected {
                border: 1px solid black;
            }
        }
    }
}

ul.artwork-list {
    list-style-type: none;

    li {
        display: inline-block;
    }
}
